@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="card">
    <div class="card-body">
        <div class="row row-cols-auto g-3">
           <div class="col-md-6">
                <label class="form-label" for="Add_CategoryTitle">نام دسته بندی</label>
                <input class="form-control form-control-sm mb-3" id="Add_CategoryTitle" type="text" placeholder="عنوان دسته بندی" aria-label="مثال ورودی کوچک">
           </div>
            <div class="col-md-6">
                <label class="form-label" for="Add_ParentCategoryId">زیر مجموعه دسته بندی</label>
                <select class="form-select form-select-sm mb-3" id="Add_ParentCategoryId" aria-label="مثال ورودی انتخاب کوچک" asp-items="@ViewBag.Categorylist">
                    <option value="0"> - </option>
                </select>
           </div>
        </div>
    </div>
</div>
