@using Store.Application.Services.Products.Queries.GetBrands
@model List<ResultBrandsDto>
@{
    ViewData["Title"] = "برند ها";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section Css{
    <link href="~/admintemplate/assets/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
}
    @section Scripts{
    <script src="~/admintemplate/assets/plugins/sweetalert2/sweetalert2.min.js"></script>

    <script>
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-danger me-2'
            },
            buttonsStyling: false,
        })
    </script>
    <script>
        function DeleteBrand(brandid){
            swalWithBootstrapButtons.fire({
                title: 'حذف',
                text: "آیا میخواهید برند را حذف کنید؟",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonClass: 'me-2',
                confirmButtonText: 'بله حذف شود',
                cancelButtonText: 'خیر',
                reverseButtons: true
            }).then((result) => {
                if (result.value) {
                    //Click On Yes

                    var postData = {
                        'brandId': brandid,
                    };

                    // Post Data To Controller
                    $.ajax({
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "POST",
                        url: "DeleteBrand",
                        data: postData,
                        success: function (data) {
                            if (data.isSuccess == true) {
                                swalWithBootstrapButtons.fire(
                                    'موفق!',
                                    data.message,
                                    'success'
                                ).then(function (isConfirm) {
                                    location.reload();
                                });
                            }
                            else {
                                swalWithBootstrapButtons.fire(
                                    'هشدار!',
                                    data.message,
                                    'warning'
                                );
                            }
                        }
                    });
                } else if (
                    // Read more about handling dismissals
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        'لغو شد',
                        'شما عملیات را لغو کردید :)',
                        'error'
                    )
                }
            })
        }
         function AddBrand(){
            swalWithBootstrapButtons.fire({
                title: 'افزودن',
                text: "آیا میخواهید برند را اضافه کنید؟",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonClass: 'me-2',
                confirmButtonText: 'بله',
                cancelButtonText: 'خیر',
                reverseButtons: true
            }).then((result) => {
                if (result.value) {
                    //Click On Yes

                    var postData = {
                        'brandName': $("#Add_BrandName").val(),
                    };

                    // Post Data To Controller
                    $.ajax({
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "POST",
                        url: "AddBrand",
                        data: postData,
                        success: function (data) {
                            if (data.isSuccess == true) {
                                swalWithBootstrapButtons.fire(
                                    'موفق!',
                                    data.message,
                                    'success'
                                ).then(function (isConfirm) {
                                    location.reload();
                                });
                            }
                            else {
                                swalWithBootstrapButtons.fire(
                                    'هشدار!',
                                    data.message,
                                    'warning'
                                );
                            }
                        }
                    });
                } else if (
                    // Read more about handling dismissals
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        'لغو شد',
                        'شما عملیات را لغو کردید :)',
                        'error'
                    )
                }
            })
        }
        function ShowModal(){
            $("#MyModal").modal("show");
        }
    </script>
}

<h6 class="mb-0 text-uppercase">لیست برند محصولات</h6>
<hr>
<div class="card">
    <div class="card-body">
        <table class="table mb-0 table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">برند</th>
                    <th scope="col">عملیات</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.BrandId</th>
                        <td>@item.BrandName</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-outline-secondary" onclick="DeleteBrand('@item.BrandId')">حذف</button>
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
<a href="#" onclick="ShowModal()">برند جدید</a>

@section Modals{
    <div class="modal fade" id="MyModal" tabindex="-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modaltitle">برند جدید</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalbody">
                    <div class="card">
                        <div class="card-body">
                            <div class="row row-cols-auto g-3">
                                <div class="col-md-6">
                                    <label class="form-label" for="Add_BrandName">نام برند</label>
                                    <input class="form-control form-control-sm mb-3" id="Add_BrandName" type="text" placeholder="عنوان برند" aria-label="مثال ورودی کوچک">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                    <button type="button" class="btn btn-primary" onclick="AddBrand()" id="btnModal">
                        افزودن برند
                    </button>
                </div>
            </div>
        </div>
    </div>
}
    

