@model AddProductCommand
@{
    ViewData["Title"] = "محصول جدید";
}
@section Css{

    <link href="~/admintemplate/assets/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/admintemplate/assets/plugins/drag-and-drop/dist/imageuploadify.min.css" rel="stylesheet" />

}
    <div class="card">
        <div class="card-body p-4">
            <h5 class="card-title">افزودن محصول جدید</h5>
            <hr>
            <div class="form-body mt-4">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="border border-3 p-4 rounded">
                            <div class="mb-3">
                                <label for="ProductTitle" class="form-label">عنوان محصول</label>
                                <input type="text" asp-for="ProductTitle" class="form-control" id="ProductTitle" placeholder="عنوان محصول را وارد کنید">
                            </div>
                            <div class="mb-3">
                                <label for="ProductDescription" class="form-label">توضیحات</label>
                                <textarea class="form-control" asp-for="Description" id="ProductDescription" rows="3"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="image-uploadify" class="form-label">تصویر محصول</label>
                                <input id="image-uploadify" type="file" asp-for="Images" accept="image/*" multiple="" style="display: none;">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="border border-3 p-4 rounded">
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <label for="Price" class="form-label">قیمت</label>
                                    <input type="number" asp-for="Price" class="form-control" id="Price" placeholder="0">
                                </div>
                                <div class="col-md-6">
                                    <label for="Inventory" class="form-label">تعداد موجود</label>
                                    <input type="number" asp-for="Inventory" class="form-control" id="Inventory" placeholder="0">
                                </div>
                                <div class="col-md-6">
                                    <label for="Brand" class="form-label">برند</label>
                                    <select class="form-select" asp-for="BrandId" id="Brand" asp-items="@ViewBag.Brands">
                                    </select>
                                </div>
                                <div class="col-md-6">

                                    <div class="form-check">
                                        <input class="form-check-input" asp-for="Displayed" type="checkbox" id="DisplayOnSite">
                                        <label class="form-check-label" for="DisplayOnSite">نمایش در سایت</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label for="Category" class="form-label">دسته بندی</label>
                                    <select class="form-select" id="Category" asp-for="CategoryId" asp-items="@ViewBag.Categories">
                                    </select>
                                </div>
                                <div class="col-12">
                                    <div class="d-grid">
                                        <button type="button" class="btn btn-primary" id="btnAddProduct">ذخیره محصول</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="border border-3 p-4 rounded">
                            <div class="row g-3">
                                <div class="col-3">
                                    <label for="txtFeature" class="form-label">ویژگی</label>
                                    <input type="text" class="form-control" id="txtFeature" placeholder="حافظه داخلی">
                                </div>
                                <div class="col-3">
                                    <label for="txtFeatureValue" class="form-label">مقدار ویژگی</label>
                                    <input type="text" class="form-control" id="txtFeatureValue" placeholder="8 گیگابایت رم">
                                </div>
                                <div class="col-3">
                                    <button type="button" id="btnAddFeature" class="btn btn-outline-success px-5">افزودن</button>
                                </div>
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <table class="table table-borderless mb-0" id="tbl_Features">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">ویژگی</th>
                                                        <th scope="col">مقدار</th>
                                                        <th scope="col"> </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end row-->
            </div>
        </div>
    </div>
    @section Scripts{
    <script src="~/admintemplate/assets/plugins/drag-and-drop/dist/imageuploadify.min.js"></script>
    <script src="~/admintemplate/assets/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#image-uploadify').imageuploadify();
        })
    </script>
    <script>
        $("#btnAddFeature").on("click", function () {

            var txtDisplayName = $("#txtFeature").val();
            var txtValue = $("#txtFeatureValue").val();

            if (txtDisplayName == "" || txtValue == "") {
                swal.fire(
                    'هشدار!',
                    "نام و مقدار را باید وارد کنید",
                    'warning'
                );
            }
            else {
                $('#tbl_Features tbody').append('<tr> <td>' + txtDisplayName + '</td>  <td>' + txtValue + '<td><button type="button" class="btn btn-outline-danger px-5 idFeatures">حذف</button></td> </tr>');
                $("#txtFeature").val('');
                $("#txtFeatureValue").val('');
            }
        });

        $("#tbl_Features").on('click', '.idFeatures', function () {
            $(this).closest('tr').remove();
        });

    </script>
    <script>
        $("#btnAddProduct").on("click", function () {

            var fdata = new FormData();
            fdata.append("ProductTitle", $("#ProductTitle").val());
            fdata.append("BrandId", $("#Brand").find('option:selected').val());
            fdata.append("Description", $("#ProductDescription").val());
            fdata.append("Price", $("#Price").val());
            fdata.append("Inventory", $("#Inventory").val());
            if ($('#DisplayOnSite').is(":checked")) {
                fdata.append("Displayed", true);
            }
            fdata.append("CategoryId", $("#Category").find('option:selected').val());

            // Images
            var productImages = document.getElementById("image-uploadify");

            if (productImages.files.length > 0) {
                for (var i = 0; i < productImages.files.length; i++) {
                    fdata.append('Images[' + i + ']', productImages.files[i]);
                }
            }
            // Features
            var dataFeaturesViewModel = $('#tbl_Features tr:gt(0)').map(function () {
                return {
                    Feature: $(this.cells[0]).text(),
                    Value: $(this.cells[1]).text(),
                };
            }).get();

            $.each(dataFeaturesViewModel, function (i, val) {
                fdata.append('ProductFeatures[' + i + '].Feature', val.Feature);
                fdata.append('ProductFeatures[' + i + '].Value', val.Value);

            });

            $.ajax({
                type: "POST",
                url: '@Url.Action("Create","Product")',
                contentType: false,
                processData: false,
                data: fdata,
                success: function (data) {

                    if (data.isSuccess == true) {

                        swal.fire(
                            'موفق!',
                            data.message,
                            'success'
                        ).then(function (isConfirm) {
                            window.location.href = '@Url.Action("Index","Product")';

                        });
                    }
                    else {

                        swal.fire(
                            'هشدار!',
                            data.message,
                            'warning'
                        );
                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }

            });
        })
    </script>
}


