@model Store.Application.Services.Products.Queries.GetCategory.CategoryDetailDto
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="card">
    <div class="card-body">
        <div class="row row-cols-auto g-3">
            <div class="col-md-6">
                <label class="form-label">نام دسته بندی</label>
                <label class="form-label">@Model.CategoryTitle</label>
            </div>
            <div class="col-md-6">
                <label class="form-label">دسته بندی والد</label>
                <div class="bootstrap-tagsinput">
                    @{
                        string parentname = Model.Parent != null ? Model.Parent.CategoryTitle : "ندارد";
                    }
                    </div>
                <span class="badge bg-primary"> @parentname </span>
            </div>
            <div class="col-md-6">
                <label class="form-label">دسته بندی های زیرمجموعه</label>
                <div class="bootstrap-tagsinput">
                    @if (Model.SubCategories != null)
                    {
                        foreach (var item in Model.SubCategories)
                        {
                            <span class="badge bg-primary">@item.CategoryTitle</span>
                        }
                    }
                    else
                    {
                        <span class="badge bg-primary"> ندارد </span>
                    }
                </div>
            </div>
        </div>
    </div>
</div>