@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Store.EndPoint.Areas.Admin.Models.ViewModels
@model CategoryViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var parentcategoryid = Model.ParentCategoryId != null ? Model.ParentCategoryId : 0;
}
<div class="card">
    <input type="hidden" id="CategoryId" value="@Model.CategoryId" />
    <div class="card-body">
        <div class="row row-cols-auto g-3">
            <div class="col-md-6">
                <label class="form-label" for="Edit_CategoryTitle">نام دسته بندی</label>
                <input class="form-control form-control-sm mb-3" id="Edit_CategoryTitle" value="@Model.CategoryTitle" type="text" placeholder="عنوان دسته بندی" aria-label="مثال ورودی کوچک">
            </div>
            <div class="col-md-6">
                <label class="form-label" for="Edit_ParentCategoryId">زیر مجموعه دسته بندی</label>
                <select class="form-select form-select-sm mb-3" id="Edit_ParentCategoryId" aria-label="مثال ورودی انتخاب کوچک" asp-items="@ViewBag.Categorylist">
                    <option value="0"> - </option>
                </select>
            </div>
        </div>
    </div>
</div>