@{
    ViewData["Title"] = "افزودن بنر جدید ";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="card">
    <div class="card-body">
        <div class="row row-cols-auto g-3">
            <form method="post" enctype="multipart/form-data">
                <div class="col-md-6">
                    <label class="form-label" for="bannerimg">عکس</label>
                    <input class="form-control form-control-sm mb-3" name="bannerImage" type="file">
                </div>
                <div class="col-md-6">
                    <label class="form-label" for="BannerLink">لینک</label>
                    <input class="form-control form-control-sm mb-3" name="bannerLink" type="url" placeholder="لینک" aria-label="مثال ورودی کوچک">
                </div>
                <div class="col-md-12">
                    <button class="form-control form-control-sm mb-3" id="btnAddBanner" type="submit" placeholder="">ثبت</button>
                </div>
            </form>
        </div>
    </div>
</div>
