
@{
    ViewData["Title"] = "صفحه اصلی ادمین";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>@User.Identity.Name عزیز</h1>
<h2>به بخش مدیریت سایت خوش آمدی</h2>
<h3>از منوی سمت راست برای مدیریت بخش های مختلف استفاده کنید !</h3>

