@model ResultDto<List<BannerSiteDto>>
@{
    Layout = null;
}

@if (Model.IsSuccess && Model.Data.Any())
{
    <div class="col-lg-4 col-md-4 col-xs-12 pl mt-1">
        <div class="adplacement-container-column">
            @foreach (var item in Model.Data)
            {
                <a href="@item.Link" class="adplacement-item">
                    <div class="adplacement-sponsored-box">
                        <img src="~/@item.ImgSrc">
                    </div>
                </a>
            }
        </div>
    </div>
}
else
{
    <div class="col-lg-4 col-md-4 col-xs-12 pl mt-1">
        <div class="adplacement-container-column">
            <a asp-controller="Home" asp-action="Index" class="adplacement-item">
                <div class="adplacement-sponsored-box">
                    <img src="~/sitetemplate/assets/images/adplacement/a-2.jpg">
                </div>
            </a>
            <a asp-controller="Home" asp-action="Index" class="adplacement-item">
                <div class="adplacement-sponsored-box">
                    <img src="~/sitetemplate/assets/images/adplacement/a-2.jpg">
                </div>
            </a>
        </div>
    </div>
}