
@{
    ViewData["Title"] = "صفحه اصلی سایت";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<a href="Admin/Home/Index">Admin</a>


