@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model long
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="card">
    <input type="hidden" id="DetailId" value="@Model" />
    <div class="card-body">
        <div class="row row-cols-auto g-3">
            <div class="col-md-6">
                <label class="form-label" for="OrderDetailState">وضعیت سفارش این کالا</label>
                <select class="form-select form-select-sm mb-3" id="OrderDetailState" aria-label="مثال ورودی انتخاب کوچک" asp-items="@ViewBag.OrderStates">
                </select>
            </div>
        </div>
    </div>
</div>